.cf {
	display: flex;
	margin-left: 0px;
	margin-bottom: 5px;
	min-height: 36px;
	padding:0 2px;
	align-items: center;
	vertical-align: text-bottom;
	white-space: unset !important;
	border-radius: 3px;
	width: fit-content;

	background-color:var(--stab-background-color);
	color:var(--main-color);

	font-weight:normal;
	font-size:0.875rem;
}

.cf code {
	font-size: 0.875rem;
	background-color: unset;
	white-space: unset !important;
}

.cf strong {
	margin-left: 3px;
}
